POSTGRES_USER=argonous_cal
POSTGRES_PASSWORD=<strong-password>
POSTGRES_DB=calendso
DATABASE_HOST=argonous-cal-db:5432
DATABASE_URL=postgresql://argonous_cal:<strong-password>@argonous-cal-db:5432/calendso
DATABASE_DIRECT_URL=postgresql://argonous_cal:<strong-password>@argonous-cal-db:5432/calendso

NEXT_PUBLIC_WEBAPP_URL=https://cal.hypersagi.com
NEXT_PUBLIC_WEBSITE_URL=https://cal.hypersagi.com
NEXT_PUBLIC_EMBED_LIB_URL=https://cal.hypersagi.com/embed/embed.js
NEXTAUTH_URL=https://cal.hypersagi.com/api/auth
NEXTAUTH_SECRET=<openssl-rand-base64-32>
CALENDSO_ENCRYPTION_KEY=<openssl-rand-base64-24>
ALLOWED_HOSTNAMES='"cal.hypersagi.com","schedule.argonous.com"'
CALCOM_TELEMETRY_DISABLED=1
NEXT_PUBLIC_LICENSE_CONSENT=agree
NEXT_PUBLIC_SINGLE_ORG_SLUG=
ORGANIZATIONS_ENABLED=
NEXT_PUBLIC_API_V2_URL=
NEXT_PUBLIC_WEBSITE_TERMS_URL=
NEXT_PUBLIC_WEBSITE_PRIVACY_POLICY_URL=
CSP_POLICY=
MAX_OLD_SPACE_SIZE=4096

EMAIL_FROM=notifications@argonous.com
EMAIL_FROM_NAME=Argonous
EMAIL_SERVER_HOST=<smtp-host>
EMAIL_SERVER_PORT=<smtp-port>
EMAIL_SERVER_USER=<smtp-user>
EMAIL_SERVER_PASSWORD=<smtp-password>
REDIS_URL=redis://argonous-cal-redis:6379
